<!-- <a href="#" class="text-white" routerLink="./purchase"><i class="fa fa-arrow-left float-left"></i></a> -->
<div class="row">
    <h3 class="text-center text-light p-4">Purchase Order List</h3>
</div>
<table class="table bg-light table-bordered table-striped w-100 m-auto mb-5 pb-5 rounded">
    <thead>
        <tr class="text-center">
            <th>Purchase Order ID</th>
            <th>Purchase Order No</th>
            <th>Asset Definition</th>
            <th>Asset Type</th>
            <th>Quantity</th>
            <th>Vendor</th>
            <th>Order Date</th>
            <th>Delivery Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody> 
        <tr class="text-center" *ngFor="let purchase of purchaseOrderService.purchaseOrders">
            <td *ngIf="purchase.isActive">{{purchase.purchaseOrderId}}</td>
            <td *ngIf="purchase.isActive">{{purchase.purchaseOrderNo}}</td>
            <td *ngIf="purchase.isActive">{{purchase.assetDefinition.name}}</td>
            <td *ngIf="purchase.isActive">{{purchase.assetType.typeName}}</td>
            <td *ngIf="purchase.isActive">{{purchase.quantity}}</td>
            <td *ngIf="purchase.isActive">{{purchase.vendor.vendorName}}</td>
            <td *ngIf="purchase.isActive">{{purchase.orderDate}}</td>
            <td *ngIf="purchase.isActive">{{purchase.deliveryDate}}</td>
            <td *ngIf="purchase.isActive">{{purchase.purchaseStatus.status}}</td>
            <!-- <td *ngIf="vendor.isActive"><input type="checkbox" checked class="form-check-input" disabled></td> -->
            <!-- <td *ngIf="!vendor.isActive"><input type="checkbox" class="form-check-input" disabled></td> -->
        </tr>
    </tbody> 
</table>