<a href="#" class="text-white" routerLink="../asset-home"><i class="fa fa-arrow-left float-left"></i></a>
<div class="row">
    <h3 class="text-center text-light p-4">Manage Asset Master</h3>
</div>
<div class="container" id="assetMasterContainer">
    <div class="row m-auto h-25">
        <div class="col-md-3 me-5 colbtn">
            <button class="btn w-100 h-100" routerLink="../asset-master-manage"><b>Edit/Delete Asset Master</b></button>
        </div>
        <div class="col-md-3 ms-5 colbtn">
            <button class="btn w-100 h-100" routerLink="../asset-master-list"><b>View Asset Master List</b></button>
        </div>
    </div>

</div>