<a href="#" class="text-white" routerLink="../purchase-order-manage"><i class="fa fa-arrow-left float-left"></i></a>
<div class="row">
    <h3 class="text-center text-light p-4">Edit Purchase Order</h3>
</div>
<div class="container bg-light rounded w-75">
    <form [formGroup]="editPurchaseForm" autocomplete="off" (ngSubmit)="submitDetails()">
        <div class="row bg-light rounded pt-4">
            <div class="col-4 m-auto">
                <label class="form-label"><b>Purchase Order ID</b></label>
            </div> 
            <div class="col">
                <!-- purchaseOrderId -->
                <input type="text" placeholder="" class="form-control" required
                formControlName="purchaseOrderId" readonly> 
                
            </div> 
        </div>
        <div class="row bg-light rounded pt-3">
            <div class="col-4 m-auto">
                <label class="form-label"><b>Purchase Order No</b></label>
            </div>
            <div class="col">
                <!-- purchaseOrderNo -->
                <input type="text" placeholder="Enter Purchase Order Number" class="form-control" required
                    formControlName="purchaseOrderNo">
            </div>
        </div>
        <div class="row">
            <!-- Validation -->
            <div class="col-4"></div>
            <div class="col">
                <div *ngIf="isSubmitted && formControls.purchaseOrderNo.errors" class="text-danger">
                    <div *ngIf="formControls.purchaseOrderNo.errors.required">
                        <p>Purchase Order is required!</p>
                    </div>
                    <div *ngIf="formControls.purchaseOrderNo.errors.minlength">
                        <p>Minimum 2 characters required!</p>
                    </div>
                    <div *ngIf="formControls.purchaseOrderNo.errors.maxlength">
                        <p>Only 10 characters allowed!</p>
                    </div>
                    <div *ngIf="formControls.purchaseOrderNo.errors.pattern">
                        <p>Special characters are not allowed!</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- assetDefinitionId -->
        <div class="row bg-light rounded pt-3"> 
            <div class="col-4 m-auto">
                <label class="form-label"><b>Asset Definition</b></label>
            </div>
            <div class="col">
                <!-- assetDefinitionId -->
                <select class="form-control" name="assetDefinitionId" id="assetDefinitionId" formControlName="assetDefinitionId" required (click)="getValue()">
                    <option value="" selected disabled>Select Asset Definition...</option>
                    <option *ngFor="let assetDefinition of assetDefinitionService.assetDefinitions" value="{{assetDefinition.assetDefinitionId}}" >
                        {{assetDefinition.name}}</option>
                </select>

            </div>
        </div>
        <div class="row">
            <!-- Validation -->
            <div class="col-4"></div>
            <div class="col">
                <div *ngIf="isSubmitted && formControls.assetDefinitionId.errors" class="text-danger">
                    <div *ngIf="formControls.assetDefinitionId.errors.required">
                        <p>Asset Definition is required!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-light rounded pt-3">
            <div class="col-4 m-auto">
                <label class="form-label"><b>Asset Type</b></label>
            </div>
            <div class="col">
                <!-- assetTypeId -->
                <!-- <div *ngFor="let assetDefinition of assetDefinitionService.assetDefinitions"> -->
                    <!-- <div *ngIf="purchaseOrderService.assetDefinitionId === assetDefinition.assetDefinitionId"> -->
                        <input type="text" formControlName="assetTypeId" class="form-control" value="{{purchaseOrderService.assetTypeName}}" readonly>
                    </div> 
                <!-- </div> -->
            <!-- </div>  -->
        </div>
        <!-- <div class="row"> -->
            <!-- Validation -->
            <!-- <div *ngIf="isSubmitted && formControls.assetTypeId.errors" class="text-danger">
                <div *ngIf="formControls.assetTypeId.errors.required">
                    <p>Asset Type is required!</p>
                </div>
            </div>
        </div> -->
        <div class="row bg-light rounded pt-3">
            <div class="col-4 m-auto">
                <label class="form-label"><b>Quantity</b></label>
            </div>
            <div class="col">
                <!-- quantity -->
                <input type="number" placeholder="Quantity" class="form-control" required formControlName="quantity">

            </div>
        </div>
        <div class="row">
            <!-- Validation -->
            <div class="col-4"></div>
            <div class="col">
                <div *ngIf="isSubmitted && formControls.quantity.errors" class="text-danger">
                    <div *ngIf="formControls.quantity.errors.required">
                        <p>Quantity is required!</p>
                    </div>
                    <div *ngIf="formControls.quantity.errors.min">
                        <p>Please enter values between 1 and 50!</p>
                    </div>
                    <div *ngIf="formControls.quantity.errors.max">
                        <p>Please enter values between 1 and 50!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-light rounded pt-3">
            <div class="col-4 m-auto">
                <label class="form-label"><b>Vendor Id</b></label>
            </div>
            <div class="col">
                <select class="form-control" name="vendorId" id="vendorId" formControlName="vendorId" required>
                    <option value="" selected disabled>Select Vendor...</option>
                    <option *ngFor="let vendor of purchaseOrderService.purchaseVendors" value="{{vendor.vendorId}}">
                        {{vendor.vendorName}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <!-- Validation -->
            <div class="col-4"></div>
            <div class="col">
                <div *ngIf="isSubmitted && formControls.vendorId.errors" class="text-danger">
                    <div *ngIf="formControls.vendorId.errors.required">
                        <p>Vendor is required!</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- orderDate -->
        <div class="row bg-light rounded pt-3">
            <div class="col-4 m-auto">
                <label class="form-label"><b>Order Date</b></label>
            </div>
            <div class="col">
                <input type="date" placeholder="Order Date" class="form-control" required formControlName="orderDate">
            </div>
        </div>
        <div class="row">
            <!-- Validation -->
            <div class="col-4"></div>
            <div class="col">
                <div *ngIf="isSubmitted && formControls.orderDate.errors" class="text-danger">
                    <div *ngIf="formControls.orderDate.errors.required">
                        <p>Order Date is required!</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- deliveryDate -->
        <div class="row bg-light rounded pt-3">
            <div class="col-4 m-auto">
                <label class="form-label"><b>Delivery Date</b></label>
            </div>
            <div class="col">
                <input type="date" placeholder="Delivery Date" class="form-control" required formControlName="deliveryDate">
            </div>
        </div>
        <div class="row">
            <!-- Validation -->
            <div class="col-4"></div>
            <div class="col">
                <div *ngIf="isSubmitted && formControls.deliveryDate.errors" class="text-danger">
                    <div *ngIf="formControls.deliveryDate.errors.required">
                        <p>Delivery Date is required!</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Status ID -->
        <div class="row bg-light rounded pt-3">
            <div class="col-4 m-auto">
                <label class="form-label"><b>Status</b></label>
            </div>
            <div class="col">
                <select class="form-control" name="statusId" id="statusId" formControlName="statusId" required>
                    <option value="" selected disabled>Select Status...</option>
                    <option *ngFor="let status of purchaseOrderService.purchaseStatus" value="{{status.statusId}}">
                        {{status.status}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <!-- Validation -->
            <div class="col-4"></div>
            <div class="col">
                <div *ngIf="isSubmitted && formControls.statusId.errors" class="text-danger">
                    <div *ngIf="formControls.statusId.errors.required">
                        <p>Status is required!</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- isActive -->
        <div class="row mt-2 rounded">
            <div class="col d-flex justify-content-end ">
                <div class="form-check">
                    <label class="form-label"><b>Is Active</b></label>
                    <input type="checkbox" class="form-check-input" formControlName="isActive">
                </div>
            </div>
        </div>

        <!-- Submit -->
        <div class="row m-auto mt-3 pb-4 w-50">
            <button class="btn btn-dark bg-gradient" type="submit"><b>Submit</b></button>
        </div>

    </form>
</div>