
.navbar{
    background-color: black;
}

.navigation>ul{
    list-style: none;
}

.nav-col{
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
}

li{
    padding: 20px;
}

.navigation ul li a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

.navigation ul li:hover{
background-color: rgba(0, 0, 0, 0.119);
}

#dashboard{
    //background-image: url('D:/Faith Infotech/Angular/AssetManagementSystem/src/assets/images/background1.jpg');
    //background-size: cover;
    //background-repeat: no-repeat;
    height: 1500px;
}