<a href="#" class="text-white" routerLink="../asset-home"><i class="fa fa-arrow-left float-left"></i></a>
<div class="row">
    <h3 class="text-center text-light p-4">Manage Asset Types</h3>
</div>
<div class="container" id="assetTypeContainer">
    <div class="row mb-5 h-25">
        <div class="col-md-3 me-5 colbtn">
            <button class="btn w-100 h-100" routerLink="../asset-add"><b>Add new Asset Type</b></button>
        </div>
        <div class="col-md-3 ms-5 colbtn">
            <button class="btn w-100 h-100" routerLink="../asset-type-manage"><b>Edit/Delete Asset Type</b></button>
        </div>
    </div>
    <div class="row mt-5 h-25">
        <div class="col-md-2"></div>
        <div class="col-md-3 ms-5 colbtn">
            <button class="btn w-100 h-100" routerLink="../asset-type-list"><b>View Asset Type List</b></button>
        </div>
    </div>

</div>