<a href="#" class="text-white" routerLink="../asset-definition"><i class="fa fa-arrow-left float-left"></i></a>
<div class="row">
    <h3 class="text-center text-light p-4">Edit / Delete Asset Definition</h3>
</div>
<table class="table bg-light table-bordered table-striped w-100 m-auto mb-5 pb-5 rounded">
    <thead>
        <tr class="text-center">
            <th>Asset Definition Id</th>
            <th>Asset Definition Name</th>
            <th>Asset Type</th>
            <th>Asset Class</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center" *ngFor="let assetDefinition of assetDefinitionService.assetDefinitions">
            <td>{{assetDefinition.assetDefinitionId}}</td>
            <td>{{assetDefinition.name}}</td>
            <td>{{assetDefinition.assetType.typeName}}</td>
            <td></td>
            <td *ngIf="assetDefinition.isActive"><input type="checkbox" checked class="form-check-input" disabled></td>
            <td *ngIf="!assetDefinition.isActive"><input type="checkbox" class="form-check-input" disabled></td>
            <td>
                <button type="submit" class="btn btn-dark bg-gradient" (click)="editDetails(assetDefinition)"><i
                        class="fa fa-edit"></i></button>
                <button type="submit" class="btn btn-dark bg-gradient ms-2" (click)="deleteDetails(assetDefinition)"><i
                        class="fa fa-trash"></i></button>
            </td>
        </tr>
    </tbody> 
</table>