<div class="container" id="assetContainer">
    <div class="row mb-5 h-25">
        <div class="col-3 me-5 colbtn">
            <button class="btn w-100 h-100" routerLink="../asset-type" ><b>Manage Asset Types</b></button>
        </div>
        <div class="col-3 ms-5 colbtn">
            <button class="btn w-100 h-100" routerLink="../asset-definition"><b>Manage Asset Definition</b></button>
        </div>
    </div>
    <div class="row mt-5 h-25">
        <div class="col-2"></div>
        <div class="col-3 ms-5 colbtn">
            <button class="btn w-100 h-100" routerLink="../asset-master"><b>Manage Asset Master</b></button>
        </div>
    </div>

</div>

