.colbtn{
    background-color: rgba(255, 255, 255, 0.575);
    border: 2px white solid;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px white;
    cursor: pointer;
}

.colbtn:hover{
    transform: scale(1.1);
}
#assetDefinitionContainer{
    position: absolute;
    top: 200px;
    height: 50%;
    left: 450px;
}
